.container {
	width: 1170px;
	margin: 0 auto;
	border: 1px solid black;
	height: 700px;
}

.img1 {
	width: 250px;
	height: 300px;
	object-fit: fill;
}
.img2 {
	width: 250px;
	height: 300px;
	object-fit: cover;
}
.img3 {
	width: 250px;
	height: 300px;
	object-fit: contain;
}

.fa-clock {
	color: red;
}

.flex-box {
	width: 1170px;
	margin: 0 auto;	
	height: 700px;
	border: 2px solid black;

	display: flex;
	flex-direction: row;

	justify-content: flex-start;

	align-items: flex-start;

	flex-wrap: nowrap;

}

.box {
	width: 100px;
	height: 100px;
}

.green {
	background-color: green;
}
.red {
	background-color: red;
}
.yellow {
	background-color: yellow;
}
.black {
	background-color: black;
}
.orange {
	background-color: orange;
}